!!!
%html
   %head
    %meta{:charset => "UTF-8"}
      %title Practica 4: Acortador de URLs
      %link{:href => "/public/prac4.css", :rel => "stylesheet"}
      %link{:href => "http://netdna.bootstrapcdn.com/font-\nawesome/4.2.0/css/font-awesome.css", :rel => "stylesheet"}
    
	
	%body
	   .titulo 
	     %p Acortador de URLs
		     .principal
              %i.fa.fa-google
              %a{:href => "/auth/google_oauth2"} Autentificarse con Google
			  %br
             
       
        
		.formulario
		%form(action="/" method="POST")
            %input#formulario(type = "text" for="url")
            %br
			%input#formulario2(type="text" name="url_opc" )
            %br
			%input#boton(type="submit" value="Shorten")
		    %br
        .formulario2
         %p Las URLs:		
		 =yield
#pie
     %p Autores: Rushil Lakhani Lakhani & Adan Rafael Lopez Lecuona.